[Unit]
Description=Clean up old downloads

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'find ${HOME}/Downloads -mtime +30 -delete'

[Install]
WantedBy=multi-user.target
